.cartDetail {
    border: solid 1px black;
}

.cartDetailImg img {
    display: block;
    margin-top: auto;
    max-width: 150px;
    max-height: 200px;
}

.cartDetailImg {
    width: 150px;
    height: 200px;
}

.cartDetailQuantity,
.cartDetailTotalPrice,
.cartDetailTitle,
.cartDetailPrice {
    display: block;
}

.btn>i {
    cursor: pointer;
    color: white;
}

.increaseQuantity {
    background-color: #0e7218 !important;
}

.decreaseQuantity {
    background-color: #cf0e0e !important;
}

.vide {
    color: red !important;
}