.cartDetail {
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.64), 0 2px 10px 0 rgba(0, 0, 0, 0.30);
}

.cartDetailImg {
    position: relative;
    width: 150px;
    height: 200px;
}

.cartDetailImg img {
    position: relative;
    left: 25%;
    margin-left: -37px;
    width: 150px;
    height: 190px;
}

.cartDetailTotalPrice,
.cartDetailTitle,
.cartDetailPrice,
.titleLink {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    padding: .375rem .75rem;
    line-height: 1.5;
}

.cartDetailPrice {
    float: left;
}

.btn-group {
    margin-bottom: 1em;
}

.btn>i {
    cursor: pointer;
    color: white;
}

.deleteMovie {
    clear: both;
}

.cartDetailTotalPrice {
    float: right;
}

.btn {
    cursor: pointer;
}

.textQuantity {
    float: left;
    font-size: 1rem;
    vertical-align: middle;
    padding: .375rem .75rem;
    line-height: 1.5;
}

.cartDetailQuantity .btn-group {
    float: right;
}

.colPrice {
    max-width: 250px;
    float: right;
}

.titleLink {
    float: left;
}

.cartDetailPrice {
    float: right;
}

.description {
    clear: both;
}