<h5>
    Bienvenue sur le panier !
</h5>
<div *ngIf="cartService.get().numberOfItem() > 0; else other_content">
    <form>
        <div *ngFor="let cartDetail of cart.cartDetails">
            <app-cart-detail [cartDetail]="cartDetail"></app-cart-detail>
        </div>

    </form>
    <div class="alert alert-info infoValidate">
        <div>
            <span class="prixTotal">Prix total du panier : {{cartPrice().toFixed(2)}}€</span>
            <button class="validateButton btn btn-success" (click)="validate()">Valider ma commande</button>
        </div>
    </div>
</div>

<ng-template #other_content>
    <h5>Votre panier est vide</h5>
</ng-template>