.infoValidate app-order {
    float: right
}

.prixTotal {
    line-height: 34px;
}

.alert>div:after {
    clear: both;
    content: '';
    display: table;
}


/* 
@media(min-width: 400px) {
    .infoValidate {
        position: fixed;
        bottom: 0px;
        left: 20%;
        width: 60%;
        z-index: 9999999;
        opacity: .8;
    }
} */