<div class="title">
    <h1>Votre panier</h1>
</div>
<div class="separation-block"></div>
<div *ngIf="cartService.get().numberOfItem() > 0; else other_content">
    <form>
        <div *ngFor="let cartDetail of cart.cartDetails">
            <app-cart-detail [cartDetail]="cartDetail"></app-cart-detail>
        </div>

    </form>
    <div class="alert alert-secondary infoValidate">
        <div>
            <span class="prixTotal">Prix total du panier : {{cartPrice().toFixed(2)}}€</span>
            <app-order (bought)="setBought()"></app-order>
        </div>
    </div>
</div>

<ng-template #other_content>
    <div>
        <h3>{{affichagePanier}}</h3>
    </div>
</ng-template>