<div class="title">
    <h1>Découvrez les films les plus achetés !</h1>
</div>
<div class="separation-block"></div>

<div *ngIf="finished; else loading">
    <app-movie-horizontal-scroll *ngFor="let category of categories" [categoryName]=category.name [from]=0 [to]=10></app-movie-horizontal-scroll>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col">
      <img class="mx-auto d-block img-fluid" src="assets/img/loading.gif" alt="loading image">
    </div>
  </div>
</ng-template>
