<div class="account-picture">
  <img src="assets/img/user.png" alt="" class="img-circle img-fluid">
</div>
<h4 class="text-center">{{ user.firstname }} {{ user.lastname }}</h4>
<ul class="nav nav-pills flex-column">
  <li class="nav-item" role="presentation">
    <a [ngClass]="isActive('profile')" class="nav-link" routerLink="/account/{{user.id}}/profile">Profil</a>
  </li>
  <li class="nav-item" role="presentation">
    <a [ngClass]="isActive('address')" class="nav-link" routerLink="/account/{{user.id}}/address">Adresse</a>
  </li>
  <li class="nav-item" role="presentation">
    <a [ngClass]="isActive('order')" class="nav-link" href="#">Historique d'achat</a>
  </li>
</ul>
