<div class="row" *ngIf="finished; else loading">
    <div class="col-sm-6 col-md-3 ">
        <figure>
            <img src="assets/img/movies/{{ movie.img }}" width="130">
        </figure>
    </div>
    <div class="col-sm-6 col-md-9">
        <div class="title">
          <h4>{{ movie.name }}</h4>
        </div>
        <p>{{ movie.description }}</p>
        <div class="row">
          <div class="col-4">
            <app-store-button-component [movie]="movie"></app-store-button-component>
          </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loading">
        <!-- <img src="assets/img/css/loading_icon.gif" alt="Chargement en cours"> -->
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
    </div>
</ng-template>
