<h2>Créer un compte</h2>
<div class="alert alert-info alert-dismissible fade show" id="alert-info" role="alert">
    {{info}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show" id="alert-danger" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="userForm" (ngSubmit)="create()" novalidate>
    <div class="form-group">
        <select class="form-control" id="gender" formControlName="gender"
                [ngClass]="formsHelper.displayFieldCss(userForm.controls.gender)" [(ngModel)]="user.gender">
          <option value="0">Mr</option>
          <option value="1">Mme</option>
          <option value="2">Mlle</option>
      </select>
      <show-errors [control]="userForm.controls.gender"></show-errors>
    </div>
    <div class="form-group">
        <label for="lastname" class="control-label required">Nom :</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname"
               [ngClass]="formsHelper.displayFieldCss(userForm.controls.lastname)" [(ngModel)]="user.lastname">
        <show-errors [control]="userForm.controls.lastname"></show-errors>
    </div>
    <div class="form-group">
        <label for="firstname" class="control-label required">Prénom</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname"
               [ngClass]="formsHelper.displayFieldCss(userForm.controls.firstname)" [(ngModel)]="user.firstname">
        <show-errors [control]="userForm.controls.firstname"></show-errors>
    </div>
    <div class="form-group">
        <label for="username" class="control-label required">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="username" formControlName="username"
               [ngClass]="formsHelper.displayFieldCss(userForm.controls.username)" [(ngModel)]="user.username">
        <show-errors [control]="userForm.controls.username"></show-errors>
    </div>
    <div class="form-group">
        <label for="birthday" class="control-label required">Date de naissance</label>
      <input type="date" class="form-control" id="birthday" formControlName="birthday"
             [ngClass]="formsHelper.displayFieldCss(userForm.controls.birthday)" [(ngModel)]="user.birthday">
        <show-errors [control]="userForm.controls.birthday"></show-errors>
    </div>

    <div class="form-group has-danger">
        <label for="email" class="control-label required">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email"
               [ngClass]="formsHelper.displayFieldCss(userForm.controls.email)"  [(ngModel)]="user.email">
        <show-errors [control]="userForm.controls.email"></show-errors>
    </div>
    <div class="form-group">
        <label for="password" class="control-label required">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password"
               [ngClass]="formsHelper.displayFieldCss(userForm.controls.password)" [(ngModel)]="user.password">
        <show-errors [control]="userForm.controls.password"></show-errors>
    </div>
    <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
</form>
