<div *ngIf="finished" class="row">
  <!-- Left -->
  <div class="col-3">
    <app-user-menu [user]="user"></app-user-menu>
  </div>
  <!-- Right -->
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="title">
          <h5>Information Personnel</h5>
        </div>
        <div class="row">
          <div class="col">
            <ul class="list-group list-group-nav">
              <li class="list-group-item">
                <strong>Nom</strong>
                <p>{{ user.lastname }}</p>
              </li>
              <li class="list-group-item">
                <strong>Prenom</strong>
                <p>{{ user.firstname }}</p>
              </li>
              <li class="list-group-item">
                <strong>Email</strong>
                <p>{{ user.email }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
