/* Change the style of the two arrows < and > */

.rightRs,
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.rightRs:hover,
.leftRs:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}

.leftRs {
    left: 0;
}

.rightRs {
    right: 0;
}


/* Sets the size of the image */

.ngx-elements {
    max-height: 200px;
    max-width: 150px;
    background-color: #ccc;
    margin: auto;
    display: block;
    position: relative;
    top: -2px;
}

.blockImg {
    width: 150px;
    height: 200px;
    margin: auto;
    margin-bottom: 1em;
}

.blockMovie {
    display: block;
    z-index: 100;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: .6em;
    padding-right: .6em;
}

.blockMovie:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.64), 0 2px 10px 0 rgba(0, 0, 0, 0.30);
}

.blockMovieLink {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1em !important;
}

.blockMovieTitle {
    width: 100%;
    height: 3.5em;
    padding-left: .5em;
    padding-right: .5em;
    overflow: hidden;
}

.blockMovieTitle>a.movieTitle {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1;
    overflow: hidden;
    color: black;
}

.blockMovieTitle a:hover {
    color: rgb(37, 37, 37);
    text-decoration: none !important;
}

.blockMovieLink:hover {
    text-decoration: none !important;
}