<h2>{{ categoryName }}</h2>
<ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)" class="carouselMovies">

    <ngx-tile NgxCarouselItem *ngFor="let movie of movies">
        <a [routerLink]="['/movies', movie.id]" class="test">
            <img src="assets/img/movies/{{ movie.img }}" class="ngx-elements">
            <div class="blockMovieInfo">
                <div class="blockMovieTitle">
                    <a title="{{movie.name}}" class="movieTitle">{{ movie.name }}</a>
                </div>
                <div class="blockMovieCart">
                    <a class="blockMovieStoreButton" href="eeee">
                        <span class="blockMoviePrice">{{movie.price}}</span><i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </a>
    </ngx-tile>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>