.navbar-header {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.logo, .logo-title {
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  color: #78abc0;
}

.logo-title span {
  font-weight: lighter;
}

.btn {
  height: 64px;
}
