<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top navbar-header">
    <div class="container">
        <div class="navbar-identity">
            <a class="navbar-brand logo logo-title" routerLink="/">
                <span class="logo-icon">
            <span class="logo-icon">
              <img src="assets/img/logo.png">
            </span>
                </span>
                Movie <span>Market</span>
            </a>
        </div>
        <div class="navbar-search w-50 mr-0">
            <app-search-result-content></app-search-result-content>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <div class="btn-group">
                    <button type="button" class="nav-link btn btn-light btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{ authenticateService.getName() }}
                    </button>
                    <div class="dropdown-menu">
                        <span *ngIf="!authenticateService.isLogged(); else isLogged">
                            <app-login></app-login>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="/user/create">Nouvel utilisateur ? Créez un compte</a>
                            <a class="dropdown-item" href="#">Mot de passe oublié ?</a>
                        </span>
                        <ng-template #isLogged>
                            <a class="dropdown-item" routerLink="/account/{{authenticateService.get().id}}/profile">Voir mon compte</a>
                            <a (click)="authenticateService.loggout()" class="dropdown-item" href="#">Se deconnecter</a>
                        </ng-template>
                    </div>
                </div>
            </li>
            <li class="nav-item active navbarCart">
                <button type="button" class="btn btn-light btn-lg" routerLink="cart">
                    <a class="nav-link">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> ({{ cartService.get().numberOfItem() }})
                    </a>
                </button>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-menu">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="movies" id="categorieDropdown" role="button" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                    <div class="dropdown-menu" aria-labelledby="categorieDropdown">
                        <a class="dropdown-item" *ngFor="let category of categories" [routerLink]="['/category/movie']" [queryParams]="{category: category.name}">{{ category.name }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>