.inner-box {
  background: #ffffff;
  border-radius: 3px 3px;
  box-shadow: 0 1px 1px rgba(180, 180, 180, 0.5);
  margin-bottom: 30px;
  padding: 20px 15px;
}

.category-list {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 3px 3px;
  display: block;
  box-shadow: 0 1px 1px rgba(180, 180, 180, 0.5);
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.item-list {
  border-bottom: solid 1px #ddd;
  clear: both;
  padding: 15px;
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  -moz-transition: background 0.25s ease-in;
  -o-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
  -webkit-transition: background 0.25s ease-in;
}

.item-list .row {
  margin: 0;
}

